<ul class="row">



  {{#each kiosks}}
  {{> places}}
  {{/each}}

  <script>
    window.kiosks = {{{ kiosksString }}}

    $('.show-modal-trigger').on("click", function (e) {
      let kioskData = window.kiosks[$(e.target).data("kiosk-order")];

      document.querySelector(".modal-kiosk-name").innerText = kioskData.kioskName;
      document.querySelector(".modal-kiosk-location").innerText = kioskData.location.latitude + "|||||" + kioskData.location.longitude;
      document.querySelector(".modal-kiosk-wifi").innerText = kioskData.wifi ? "Yes" : "No";
      document.querySelector(".modal-kiosk-cigarettes").innerText = kioskData.cigarettes ? "Yes" : "No";
      document.querySelector(".modal-kiosk-souvernis").innerText = kioskData.souvenirs ? "Yes" : "No";
      document.querySelector(".modal-kiosk-drinks").innerText = kioskData.drinks ? "Yes" : "No";
    })
  </script>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <h1 class="titleModal">Details Kiosk</h1>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <ul>
            <li><img src="{{this.picPath}}" alt="" width="300px"> </li>
            <br><br>
            <li class="titleModal">{{this.kioskName}}</li>
            <br><br>

            <li>Name: <span class="modal-kiosk-name"></span></li>
            <li>Location: <span class="modal-kiosk-location"></span></li>
            <li>Drinks: <span class="modal-kiosk-drinks"></span></li>
            <li>Souvernis: <span class="modal-kiosk-souvernis"></span></li>
            <li>Wifi: <span class="modal-kiosk-wifi"></span></li>
            <li>Cigarretes: <span class="modal-kiosk-cigarettes"></span></li>


            {{!--
            <li> <b>Location:</b>
              {{#if this.location}} Yes
              {{else}} No
              {{/if}}
            </li>
            <li><b>Wifi: </b>
              {{#if this.wifi}} Yes
              {{else}} No
              {{/if}}
            </li>
            <li> Drinks:
              {{#if this.drinks}} Yes
              {{else}} No
              {{/if}}
            </li>
            <li>
            <li>Cigarretes:
              {{#if this.cigarettes}} Yes
              {{else}} No
              {{/if}}
            </li>
            <li>Souvenirs:
              {{#if this.souvenirs}} Yes
              {{else}} No
              {{/if}}
            </li>
            <li>{{this.rate}}</li> --}}

          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</ul>